@page "/"

@inject WeatherForecastService ForecastService
@using GridShowDetailInformation.Data

@if (forecasts == null) {
    <h1>Loading...</h1>
}
else {
    <p>Show forecast for the specific date:</p>
    <div style="display:flex; ">
        <div style="width:350px;">
            <DxGrid Data=@forecasts CssClass="GridCssClass">
                <Columns>
                    <DxGridDataColumn FieldName="Date" Width="200px" DisplayFormat="MM/dd/yyyy"></DxGridDataColumn>
                    <DxGridDataColumn Caption="Details">
                        <CellDisplayTemplate>
                           <a class="d-block text-left" href="javascript:;" @onclick="() => ShowDetails(context)">Show Details</a>
                        </CellDisplayTemplate>
                    </DxGridDataColumn>
                </Columns>
            </DxGrid>
        </div>
        @if (forecast != null) {
            <DxFormLayout CssClass="DetailFormLayout" SizeMode="SizeMode.Small">
                <DxFormLayoutGroup Caption=@caption>
                    <DxFormLayoutItem Caption="Temp. (C):" ColSpanMd="12">
                            @forecast.TemperatureC
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Temp. (F):" ColSpanMd="12">
                            @forecast.TemperatureF
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Summary:" ColSpanMd="12">
                            @forecast.Summary
                    </DxFormLayoutItem>
                </DxFormLayoutGroup>
            </DxFormLayout>
        }
    </div>
}

@code {
    List<WeatherForecast>? forecasts;
    WeatherForecast? forecast;
    string? caption;
    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync();
    }

    public void ShowDetails(GridDataColumnCellDisplayTemplateContext context) {
        forecast = (WeatherForecast)context.DataItem;
        caption = "Forecast for " + forecast.Date.ToShortDateString();
    }
}

<style>
    .DetailFormLayout {
        margin-left: 0.75rem;
    }
</style>
